[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@astrojs/netlify"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/404"
  status = 404

[context.production]
  environment = { NODE_ENV = "production" }
